
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Barlow", sans-serif;
}


body {
    margin: 0;
    background-color: #FFFFFF; /* Blanco */
    color: #000000; /* Negro */
}



header {
    background-color: #0072C6; /* Azul marino */
    color: #FFFFFF; /* Blanco */
    padding: 10px 0;
}

header h1 {
    margin: 20px;
    font-size: 40px;
}

.navbar ul{
    display: flex;
    justify-content:end
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
}

.navbar nav ul li {
    display: inline;
    margin-right: 20px;
}

.navbar nav ul li a {
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
    font-size: 30px;
}

.navbar nav img{
    width: 250px;
}

/*MAIN*/

.principal {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


.principal img {
    width: 600px;

}
main section {
    margin-top: 20px;
}





/*FOOTER*/

footer {
    background-color: #79BEE1; /* Celeste */
    color: #FFFFFF; /* Blanco */
    padding: 10px 0;
    text-align: center;
}

.navbar2  nav ul {
    margin: 0;
}

.navbar2  nav ul li {
    display: inline;
    margin-right: 10px;
}

.navbar2 nav ul li a {
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
}

.navbar2 img {
    margin-top: 20px;
    width: 200px;
}
